@page
@model BookstoreWebApp.Pages.CartPageModel
@{
}

<h2>Your cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model.Cart.Items){
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.Quantity</td>
                <td>@item.Book.Price.ToString("c")</td>
                <td>@((item.Book.Price * item.Quantity).ToString("c"))</td>
                <td class="text-center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="projectId" value="@item.Book.BookId "/>
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.Cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Checkout</a>
</div>
